.button {
    display: inline-block;
    border-radius: 4px;
    padding: 9px 16px 11px 16px;
    margin-right: 8px;
    text-align: center;
    border: none;
    text-decoration: none;
    color: var(--white);

    &:last-child {
        margin-right: 0;
    }

    &--primary {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), #017DE8;
        background-blend-mode: soft-light, normal;

        &:hover {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.80) 0%, rgba(0, 0, 0, 0.40) 100%), #017DE4;
        }
    }

    &--secondary {
        background-color: var(--midnight-5);

        &:hover {
            background-color: var(--midnight-40);
        }
    }

    &--tertiary {
        background-color: var(--midnight-92);
        color: var(--midnight);

        &:hover {
            background-color: var(--midnight-40);
        }
    }

    &--arrow {
        color: var(--azure);
        padding: 0;

        &:after {
            content: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IkFycm93UmlnaHQiPgo8cGF0aCBpZD0iVmVjdG9yIiBkPSJNNy4yNzI2IDIuMDA3MDhMNy4zNDgzNCAyLjA2MzE5TDExLjM1OCA1LjQzODE5QzExLjY5MDMgNS43MTc4OSAxMS43MTI0IDYuMjE0MSAxMS40MjQ0IDYuNTIyNjdMMTEuMzU4IDYuNTg1NzdMNy4zNDgzNCA5Ljk2MDc3QzcuMDMxNDQgMTAuMjI3NSA2LjU1ODMxIDEwLjE4NjggNi4yOTE1NyA5Ljg2OTk1QzYuMDQ1MzUgOS41Nzc0MyA2LjA2MTA2IDkuMTUxNzkgNi4zMTQxOCA4Ljg3ODI0TDYuMzgyMzkgOC44MTMxOUw4Ljc4MzI1IDYuNzkxMjFMMS4xMjUgNi43OTEzOEMwLjcxMDc4NiA2Ljc5MTM4IDAuMzc1IDYuNDU1NTkgMC4zNzUgNi4wNDEzOEMwLjM3NSA1LjY1Njc1IDAuNjY0NTMgNS4zMzk3NSAxLjAzNzUzIDUuMjk2NDJMMS4xMjUgNS4yOTEzOEw4Ljg1NDUgNS4yOTEyMUw2LjM4MjM5IDMuMjEwNzdDNi4wODk4NyAyLjk2NDU1IDYuMDMyNzMgMi41NDI0NyA2LjIzNTQ2IDIuMjI5NzVMNi4yOTE1NyAyLjE1NDAxQzYuNTM3NzkgMS44NjE0OSA2Ljk1OTg3IDEuODA0MzQgNy4yNzI2IDIuMDA3MDhaIiBmaWxsPSIjMDE3REU4Ii8+CjwvZz4KPC9zdmc+Cg==');
            display: inline-block;
            margin-left: 4px;
            position: relative;
            top: 2px;
            left: 0;
            transition: left .25s ease;
        }

        &:hover:after {
            left: 5px;
        }
    }

    &-wrap {
        display: flex;
    }
}